<div class="sc-container sc-container-capsule sc-container-spacious">
  <h1>{{ "auth.invitations.accept.heading" | t }}</h1>

  {% assign block = current_store.id | append: "-invitation-accept-introduction" %}
  {{ all_content_blocks[block] | try: "render" }}

  {%- form "accept-invitation" %}
    {% render "form_errors", errors: form.errors %}

    {%- assign field = form.fields["password"] %}
    <div class="SC-Field SC-Field-expand{% if field.errors != blank %} has-error{% endif %}{% if field.required? %} required{% endif %}">
      <label for="{{ field.id }}" class="SC-Field_label">{{ "auth.invitations.accept.form.password" | t }}</label>
      <input type="password" name="{{ field.name }}" id="{{ field.id }}" autocomplete="new-password" class="SC-Field_input">
      <span class="SC-Field_error">{{ field.errors | try: "messages" }}</span>
    </div>

    {%- assign field = form.fields["password_confirmation"] %}
    <div class="SC-Field SC-Field-expand{% if field.errors != blank %} has-error{% endif %}{% if field.required? %} required{% endif %}">
      <label for="{{ field.id }}" class="SC-Field_label">{{ "auth.invitations.accept.form.confirm_password" | t }}</label>
      <input type="password" name="{{ field.name }}" id="{{ field.id }}" autocomplete="new-password" class="SC-Field_input">
      <span class="SC-Field_error">{{ field.errors | try: "messages" }}</span>
    </div>

    {% render "account/shared/forms/campaign", form: form, context: "new" %}

    <div class="sc-mb-base">
      <input type="submit" name="commit" value="{{ "auth.invitations.accept.form.submit" | t }}" class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small" data-disable-with="{{ "auth.invitations.accept.form.submit" | t }}">
    </div>
  {%- endform %}

  {%- render "account/login/links", context: "password" %}
</div>
