{%- default form_id: blank -%}
{%- default location_group: blank -%}

{%- unless theme_variables["locations.search.allow_product_filtering"] == true and current_request.params.ref != blank %}
  {%- if location_group.categories.size > 0 %}
    {%- assign categories = location_group.categories | sort: "name" %}

    {%- if theme_variables["locations.search.multiple_categories"] == true %}
      <div data-selector="categories" class="sc-pos-relative sc-expand sc-m-none sc-m-none">
        <button data-dropdown-trigger class="sc-input-height sc-bg-white sc-shadow sc-border-light sc-border-radius sc-flex-row sc-align-items-center sc-expand sc-ps-medium" type="button">
          <span data-dropdown-selection class="sc-grow sc-truncate">
            {{ "locations.search.forms.common.fields.category.label" | t }}
          </span>
          {%- render "icons/chevron", width: 11 %}
        </button>
        <menu data-dropdown-target class="sc-hide sc-flex-col sc-align-items-start sc-bg-white sc-border-radius sc-depth-foreground sc-rounded sc-shadow-3 sc-pos-absolute sc-expand sc-pe-small">
          {%- assign categories = location_group.categories | sort: "name" %}
          {%- for category in categories %}
            <div class="SC-Checkbox sc-m-none sc-ps-medium sc-pe-micro">
              <input data-dropdown-option="{{ category.name }}" class="SC-Checkbox_input" id="{{ category.id }}" value="{{ category.id }}" name="categories[]" {% if current_request.params.categories contains category.id %}checked{% endif %} type="checkbox"/>
              <label class="SC-Checkbox_label sc-pe-tiny" for="{{ category.id }}">{{ category.name }}</label>
            </div>
          {%- endfor %}
        </menu>
      </div>
    {%- else %}
      <div class="SC-Field sc-flex-grow sc-m-none">
        <select name="category" class="SC-Field_select" id="locations_category__{{ form_id }}">
          <option value="">{{ "locations.search.forms.common.fields.category.prompt" | t }}</option>
          {%- for category in categories %}
            <option value="{{ category.id }}" {% if category.id == current_request.params.category %}selected{% endif %}>{{ category.name }}</option>
          {%- endfor %}
        </select>
      </div>
    {%- endif %}
  {%- endif %}
{%- endunless %}
