{%- render "shared/page_header", heading: "t.accounts.product_approvals.index.heading" %}
{%- if current_account.product_approvals.size > 0 %}
  {%- paginate current_account.product_approvals by 10 %}
    <table class="sc-mb-spacious">
      <tr>
        <th>{{ "accounts.product_approvals.index.product" | t }}</th>
        <th>{{ "accounts.product_approvals.index.status" | t }}</th>
        <th>{{ "accounts.product_approvals.index.approved_from" | t }}</th>
        <th>{{ "accounts.product_approvals.index.approved_until" | t }}</th>
        <th>{{ "accounts.product_approvals.index.remaining_quantity" | t }}</th>
        <th>&nbsp;</th>
      </tr>
      {% for approval in current_account.product_approvals %}
        <tr>
          <td data-th="{{ "accounts.product_approvals.index.product" | t }}">
            {% if approval.product %}
              <a href="{{ approval.product.path }}">{{ approval.product.name }}</a>
            {% else %}
              <a href="{{ approval.product_category.path }}">{{ approval.product_category.name }}</a>
            {% endif %}
          </td>
          <td data-th="{{ "accounts.product_approvals.index.status" | t }}">
            {{ "accounts.product_approvals.shared.status.enum." | append: approval.approval_status | t }}
          </td>
          <td data-th="{{ "accounts.product_approvals.index.approved_from" | t }}">{% render "shared/date", timestamp: approval.approved_from %}</td>
          <td data-th="{{ "accounts.product_approvals.index.approved_until" | t }}">{% render "shared/date", timestamp: approval.approved_until %}</td>
          <td data-th="{{ "accounts.product_approvals.index.remaining_quantity" | t }}">{{ "accounts.product_approvals.shared.quantity.count" | t, count: approval.remaining_quantity }}</td>
          <td>
            <a href="{{ approval.path }}">{{ "accounts.product_approvals.index.view_details_link" | t }}</a>
          </td>
        </tr>
      {%- endfor %}
    </table>
    {%- render 'shared/pagination-nav', paginate: paginate %}
  {%- endpaginate %}
{%- else %}
  <div class="sc-shade-neutral">{{ "accounts.product_approvals.index.no_product_approvals" | t }}</div>
{%- endif %}
