{%- capture item_count %}
  {%- if current_cart.item_count > 0 %}
    <div class="SC-Count sc-ml-tiny" data-cart-nav-count>
      {{ current_cart.item_count }}
    </div>
  {%- endif %}
{%- endcapture %}

<li class="SC-Menu_item dropdown" data-root-nav data-cart-menu>
  <a href="{{ current_store.cart_path }}" class="SC-Menu_link sc-hide-up-to-medium" data-nav-trigger="cart">
    <span class="sc-hide-up-to-medium u-pointer-events-none">
      {{ "header.dropdowns.cart.heading" | t }}
    </span>
    {{ item_count }}
  </a>

  <a href="{{ current_store.cart_path }}" class="SC-Icon SC-Icon-button SC-Icon-large sc-hide-medium-and-up">
    {%- render "shared/icons/cart" %}
    {{ item_count }}
  </a>

  {%- comment %} Dropdown {% endcomment %}
  {%- if current_cart.items.size > 0 %}
    <div class="SC-Cart SC-Menu dropdown" data-nav="cart" data-sc-cart>
      <button class="SC-Menu_button sc-hide-medium-and-up" data-nav-close="root" type="button">
        {{ "header.dropdowns.cart.close" | t }}
      </button>
      {%- comment %} Line items {% endcomment %}

      <div class="SC-CartProducts sc-grow u-overflow-y-auto">
        {%- render "shared/cart/items", source: current_cart, compact: true, width: "70px" %}
      </div>
      {%- comment %} Cart total {% endcomment %}
      <div class="sc-mb-small" data-cart-nav-summary>
        {%- render "shared/order_total", source: current_cart, compact: true %}
      </div>
      {%- comment %} Checkout button {% endcomment %}
      {%- render "shared/cart/checkout_button", class: "SC-Button SC-Button-primary SC-Button-expanded" %}
    </div>
  {%- endif %}
</li>
