{%- require "scripts/nav.js" -%}

{%- capture item_count %}
  {%- if current_cart.item_count > 0 %}
    <div class="SC-Count sc-ml-tiny" data-cart-nav-count>
      {{ current_cart.item_count }}
    </div>
  {%- endif %}
{%- endcapture %}

<li class="SC-Menu_item dropdown" data-root-nav data-cart-menu>
  <a href="{{ current_store.cart_path }}" class="SC-Menu_link sc-hide-up-to-medium" data-nav-trigger="cart">
    <span class="sc-hide-up-to-medium sc-pointer-events-none">
      {{ "header.dropdowns.cart.heading" | t }}
    </span>
    {{ item_count }}
  </a>

  <a href="{{ current_store.cart_path }}" class="SC-Icon SC-Icon-button SC-Icon-large sc-hide-medium-and-up">
    {%- render "shared/icons/cart" %}
    {{ item_count }}
  </a>

  {%# Dropdown %}
  {%- if current_cart.items.size > 0 %}
    <div class="SC-Cart SC-Menu dropdown" data-nav="cart" data-sc-cart>
      <button class="SC-Menu_button sc-hide-medium-and-up" data-nav-close="root" type="button">
        {{ "header.dropdowns.cart.close" | t }}
      </button>
      {%# Line items %}

      <div class="SC-CartProducts sc-grow u-overflow-y-auto">
        {%- render "shared/cart/items", source: current_cart, compact: true, width: "70px", toggle_answers: true %}
      </div>
      {%# Cart total %}
      <div class="sc-mb-small" data-cart-nav-summary>
        {%- render "shared/order_total", source: current_cart, compact: true %}
      </div>
      {%# Checkout button %}
      {%- render "shared/cart/checkout_button", class: "SC-Button SC-Button-primary SC-Button-expanded" %}

      {%# Include Express Checkout Wallets unless already on cart or payment_information page %}
      {%- if current_cart.total_subscriptions == 0 %}
        {%- unless current_request.path == current_store.cart_path or current_checkout_step == "payment_information" %}
          {%- if current_cart.currency_payment_required? %}
            <aside class="sc-mt">
              {% render "checkout/payment_information/show_wallets_only" %}
            </aside>
          {%- endif %}
        {%- endunless %}
      {%- endif %}
    </div>
  {%- endif %}
</li>
