{%- default provider: blank %}
{%- comment %}
This form uses eWAY's client-side encryption to ensure PCI compliance.
Relevant eWAY docs are: https://eway.io/api-v3/?ruby#automatic-encryption
Key takeways are:
* Fields with data-eway-encrypt-target=... will be encrypted
* Only Card number and CVN should be encrypted, not other fields (name, expiry, etc)
* Our JS updates the hidden fields with the encrypted values.
{%- endcomment %}
<script src="{{ 'eway-gateway.js' | asset_url }}"></script>

<div id="{{ provider.code }}ScriptBlock{{ provider.id }}"></div>

{%- assign field_prefix = provider.id | append: "_card" %}
<fieldset class="SC-Fieldset">
  <div class="SC-Field">
    {%- assign id = field_prefix | append: "_user_number" %}
    {%- assign name = field_prefix | append: "[user_number]" %}
    <label for="{{ id }}" class="SC-Field_label">{{ "checkout.gateways.form.card_number" | t }}</label>
    <input type="text" id="{{ id }}" name="{{ name }}"
          placeholder="{{ "checkout.gateways.form.card_number_placeholder" | t }}"
          class="SC-Field_input sc-expand"
          autocomplete="cc-number"
          maxlength="16"
          required="required"
          data-eway-encrypt-name="EWAY_CARDNUMBER"
    >
    {%- assign id = field_prefix | append: "_number" %}
    {%- assign name = field_prefix | append: "[number]" %}
    <input type="hidden" name="{{ name }}" id="{{ id }}" data-eway-encrypt-target="EWAY_CARDNUMBER">
  </div>

  <div class="SC-Field">
    {%- assign id = field_prefix | append: "_name" %}
    {%- assign name = field_prefix | append: "[name]" %}
    <label for="{{ id }}" class="SC-Field_label">{{ "checkout.gateways.form.card_name" | t }}</label>
    <input type="text" id="{{ id }}" name="{{ name }}"
           class="SC-Field_input sc-expand"
           autocomplete="cc-name"
           required="required"
    >
  </div>

  <div class="SC-Fieldset_row">
    <div class="SC-Field SC-Field-small">
      {%- assign id = field_prefix | append: "_month" %}
      {%- assign name = field_prefix | append: "[month]" %}
      <label for="{{ id }}" class="SC-Field_label">{{ "checkout.gateways.form.expiry_month" | t }}</label>
      <input type="text" id="{{ id }}" name="{{ name }}"
             placeholder="{{ "checkout.gateways.form.expiry_month_placeholder" | t }}"
             class="SC-Field_input"
             autocomplete="cc-exp-month"
             maxlength="2"
             size="8"
             required="required"
      >
    </div>

    <div class="SC-Field SC-Field-small">
      {%- assign id = field_prefix | append: "_year" %}
      {%- assign name = field_prefix | append: "[year]" %}
      <label for="{{ id }}" class="SC-Field_label">{{ "checkout.gateways.form.expiry_year" | t }}</label>
      <input type="text" id="{{ id }}" name="{{ name }}"
             placeholder="{{ "checkout.gateways.form.expiry_year_placeholder" | t }}"
             class="SC-Field_input"
             autocomplete="cc-exp-year"
             maxlength="4"
             size="8"
             required="required"
      >
    </div>

    <div class="SC-Field SC-Field-small">
      {%- assign id = field_prefix | append: "_user_verification" %}
      {%- assign name = field_prefix | append: "[user_verification]" %}
      <label for="{{ id }}" class="SC-Field_label">{{ "checkout.gateways.form.verification" | t }}</label>
      <input type="text" id="{{ id }}" name="{{ name }}"
             placeholder="{{ "checkout.gateways.form.verification" | t }}"
             class="SC-Field_input"
             autocomplete="cc-csc"
             maxlength="4"
             size="8"
             required="required"
             data-eway-encrypt-name="EWAY_CARDCVN"

      >
      {%- assign id = field_prefix | append: "_verification" %}
      {%- assign name = field_prefix | append: "[verification]" %}
      <input type="hidden" name="{{ name }}" id="{{ id }}" data-eway-encrypt-target="EWAY_CARDCVN">
    </div>
  </div>
</fieldset>

<div id="{{ provider.code }}PaymentError{{ provider.id }}" class="SC-Field SC-Alert sc-hide"></div>

<button id="{{ provider.code }}PaymentButton{{ provider.id }}" type="submit" class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small" data-payment-info-submit>
  {{ "accounts.subscriptions.show.submit_update_button_label" | t }}
</button>

<script>
  StoreConnect.Gateways.Eway("{{ provider.id }}", "{{ provider.public_api_key }}");
</script>
