{%- default action: nil -%}
{%- default body_content: nil -%}
{%- default controller: nil -%}
{%- default csp_meta_tag: nil -%}
{%- default csrf_meta_tags: nil -%}
{%- default data: nil -%}
{%- default id: nil -%}
{%- default sc_support: nil -%}
{%- default theme_supplement_javascript: nil -%}
{%- default theme_supplement_stylesheet: nil -%}
{%- default title: nil -%}
{%- default meta_keywords: nil -%}
{%- default meta_description: nil -%}
{%- default theme_bar: nil -%}

<!doctype html>
<html lang="{{ current_store.locale }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ csrf_meta_tags }}
    {{ csp_meta_tag }}
    {%- render "meta_data", title: title, meta_keywords: meta_keywords, meta_description: meta_description %}

    {%- comment -%} Styles {%- endcomment -%}
    {%- require "styles/theme.css" %}
    {{ theme_supplement_stylesheet }}
    {% if current_store.global_css != blank %}<style>{{ current_store.global_css }}</style>{% endif %}
    {%- render "styles" %}

    {%- comment -%} Scripts {%- endcomment -%}
    {%- require "scripts/configure.js" %}
    {%- require "scripts/metadata.js" %}
    {%- require "scripts/theme.js" %}
    {{ theme_supplement_javascript }}
    {% if current_store.global_javascript != blank %}<script>{{ current_store.global_javascript }}</script>{% endif %}
    {%- render "scripts" %}
    {{ sc_support }}

    {%- render "store/head" %}
    {%- render "events" %}
  </head>

  <body id="{{ id }}" data-sc-controller="{{ controller }}" data-sc-action="{{ action }}" {{ data }}>
    {{ theme_bar }}
    {%- if controller == "salesforce_payments" %}
      {%- render "salesforce_payments", content: body_content %}
    {%- else %}
      {%- render "header" %}
      <main id="SC-Main">
        {%- render "flash" %}
        {%- render "privacy" %}
        {{ body_content }}
      </main>
      {%- render "store/selector" %}
      {%- render "footer" %}
      {%- render "store/body" %}
    {%- endif %}
  </body>
</html>
