{%- default line_item: nil -%}
{%- default cart_item: nil -%}
{%- default style_class: nil -%}
{%- default default: false -%}
{%- default checked: nil -%}

{%- comment %} Fallback to deprecated `line_item` for backwards compatibility {% endcomment %}
{%- if cart_item == blank -%}
  {%- assign cart_item = line_item -%}
{%- endif -%}

{%- if default %}
  {%- assign checked = 'checked="checked"' -%}
{%- endif %}
{%- capture data %}
  data-input-line-item-id="{{ cart_item.id }}"
{%- endcapture %}
{%- capture field_name %}
  cart_items[{{ cart_item.id }}][use_points]
{%- endcapture %}
{%- capture field_id %}
  cart_items_{{ cart_item.id }}_use_points
{%- endcapture %}

{%- require "scripts/points-toggle.js" -%}

<div class="SC-PointsToggle {{ style_class }}" data-pts-toggle>
  <div class="SC-Checkbox">
    <input
      name="{{ field_name | strip }}"
      style="display: none"
      value="false"
    />
    <input
      id="{{ field_id | strip }}"
      name="{{ field_name | strip }}"
      class="SC-Checkbox_input"
      type="checkbox"
      value="true"
      {{ checked }}
      {{ data }}
      stype="text-align: end;"
    />
    <label class="SC-Checkbox_label" for="{{ field_id | strip }}">{{ "pricing.use_points" | t }}</label>
  </div>
</div>
