{%- default limit: 9 -%}
{%- default min: 0 -%}
{%- default max: blank -%}
{%- default default: 1 -%}
{%- default style_class: blank -%}
{%- default data: blank -%}
{%- default update_button: false -%}
{%- default field_name: "quantity" -%}
{%- default field_id: "quantity" -%}
{%- default field: blank -%}

{% if field != blank %}
  {% assign field_name = field.name %}
  {% assign field_id = field.id %}
{% endif %

{%- liquid
if max != blank
  assign count = max
else
  assign count = limit
endif
%}

<div data-qty-picker class="SC-QuantityPicker {{ style_class }}">
  <button
    class="SC-QuantityPicker_trigger"
    data-qty-picker-trigger
    type="button">
    <span class="SC-QuantityPicker_trigger_label">
      {{ "shared.quantity_picker.label" | t }}
      <span data-qty-picker-value>
        {{ default }}
      </span>
    </span>
    {%- render "shared/icons/chevron" %}
  </button>

  <input
    data-qty-picker-input
    type="number"
    name="{{ field_name | strip }}"
    id="{{ field_id }}"
    value="{{ default }}"
    class="SC-QuantityPicker_input"
    {% if min != blank %} min="{{ min }}"{% endif %}
    {% if max != blank %} max="{{ max }}"{% endif %}
    {{ data }}
  />

  {%- if update_button == true %}
    <input
      data-qty-picker-update
      type="submit"
      value="{{ "shared.quantity_picker.update_label" | t }}"
      class="QuantityPicker_update"
      style="display: none"
    />
  {%- endif %}
  <ul></ul>
</div>
