{%- default line_item: blank -%}
{%- default hide_image: false -%}
{%- default compact: false -%}
{%- default width: blank -%}
{%- default extended: false -%}

{%- unless line_item == blank or line_item.product == blank %}
  <div>
    <div{% if line_item.bookable? %} data-sc-cart-booking{% endif %} class="SC-LineItem sc-flex sc-align-items-center sc-gap-base sc-expand" data-line-item-id="{{ line_item.id }}">
    {%- comment %} Image {% endcomment %}
    {%- unless hide_image %}
      <a href="{{ line_item.product.path }}" class="sc-no-shrink">
        {%- if line_item.product.image != blank %}
          <img src="{{ line_item.product.image.thumb_url }}" loading="lazy" width="{{ width }}">
        {%- else %}
          {%- render "shared/placeholder_image", width: width %}
        {%- endif %}
      </a>
    {%- endunless %}

    <div class="sc-flex sc-wrap-up-to-medium sc-align-items-center sc-gap-small-medium-and-up sc-expand">

      <div class="sc-flex-col sc-gap-tiny sc-expand" style="max-width: var(--sc-product-info-max-width)">
        <span>
          <a href="{{ line_item.product.path }}">
            {{ line_item.product.name }}
          </a>
          {% if line_item.custom_forms.size > 0 %}
            <span class="sc-cursor-pointer target-hidden" data-toggle-visibility="line-item-answers-{{ line_item.id }}">
              {%- render "icons/info", width: 12 %}
            </span>
          {% endif %}
        </span>

        {%- comment %} Booking {% endcomment %}
        {%- if line_item.bookable_event != blank %}
          <span class="sc-shade-neutral sc-font-small">
            {%- render "shared/line_items/booking_details", bookable_event: line_item.bookable_event, extended: false %}
          </span>
        {%- endif %}
        {%- comment %} Quantity {% endcomment %}
        {%- if extended == false and line_item.product.can_select_quantity? %}
          <span class="sc-one-quarter sc-font-small sc-shade-neutral sc-whitespace-nowrap">
            {{ "line_items.quantity" | t: quantity: line_item.quantity }}
          </span>
        {%- endif %}
        {% comment %} Delivery Options {% endcomment %}
        {%- if line_item.delivery_date != blank or line_item.delivery_day != blank %}
          {%- capture preference %}
            {%- if line_item.delivery_day != blank %}
              {% assign day_of_week = line_item.delivery_day | downcase %}
              {{ "deliveries.days.enum." | append: day_of_week | t -}}
            {%- else %}
              {{ line_item.delivery_date | date: "%B %-d, %Y" -}}
            {%- endif -%}
            {%- if line_item.delivery_time != blank -%}
              , {{ line_item.delivery_time }}
            {%- endif %}
          {%- endcapture %}
          <span class="sc-one-whole sc-font-tiny sc-shade-neutral">
            {{ "order_summary.delivery_options.delivery_preference" | t, preference: preference}}
          </span>
        {%- endif %}
        {%- comment %} Bundles {% endcomment %}
        {%- if line_item.in_bundle? %}
          {%- if extended %}
          <a href="{{ line_item.edit_bundle_path }}" class="SC-Link sc-font-small">
            {{ "line_items.links.edit_bundle" | t }}
          </a>
          {%- endif %}
          <em class="sc-display-block sc-font-small sc-shade-dark">
            {{ "bundles.bundle.includes" | t }}
          </em>
          <ul class="sc-m-none sc-pl-base sc-font-tiny sc-shade-dark">
            {%- assign quantity_of_bundles = line_item.quantity %}
            {%- for bundle_item in line_item.bundle_items %}
              {%- unless bundle_item.bundle_lead? %}
                <li>
                  {{ bundle_item.quantity | divided_by: quantity_of_bundles }}
                  {{ bundle_item.product.name }}
                </li>
              {%- endunless %}
            {%- endfor %}
          </ul>
        {%- endif %}
      </div>

      {%- if extended %}
        <div class="sc-two-thirds-up-to-medium sc-grow sc-flex sc-align-items-center sc-gap-small sc-me-small">
          {%- comment %} Edit Quantity {% endcomment %}
          <span class="sc-whitespace-nowrap">
            {%- if line_item.product.can_select_quantity? %}
              <div class="SC-Field sc-m-none">
                {%- capture data %}
                  data-input-line-item-id="{{ line_item.id }}"
                {%- endcapture %}
                {%- capture field_name %}
                  line_items[{{ line_item.id }}][quantity]
                {%- endcapture %}
                {%
                  render "shared/quantity_picker",
                    default: line_item.quantity,
                    min: line_item.min_quantity,
                    max: line_item.max_quantity,
                    update_button: true,
                    data: data,
                    field_name: field_name
                %}
                {%- if line_item.bookable? %}
                  <span data-booking-expired-message>{{ "bookings.timer.singular.did_expire" | t }}</span>
                {%- endif %}
              </div>
            {%- endif %}
          </span>
          <a href="{{ line_item.delete_path }}" data-method="delete" class="SC-Link">
            {{ "line_items.links.remove_item" | t }}
          </a>
        </div>
        <div class="sc-expand sc-text-right" data-line-item-use-points="{{ line_item.id }}" data-product-id="{{ line_item.product.id }}">
          {%- if line_item.pricing.can_purchase_with_currency? and line_item.pricing.can_purchase_with_points? %}
            {%
              render "shared/points_toggle",
                default: line_item.pricing.use_points?,
                line_item: line_item
            %}
          {%- endif %}
        </div>
      {%- endif %}

      {%- comment %} Total {% endcomment %}
      <div class="sc-expand sc-text-right" data-line-item-pricing="{{ line_item.id }}" data-product-id="{{ line_item.product.id }}">
        {%- render "shared/line_items/pricing", pricing: line_item.pricing, compact: compact %}
      </div>
    </div>
    </div>
    <div class="sc-font-tiny is-hidden" data-toggle-visibility-target="line-item-answers-{{ line_item.id }}">
      {% for custom_form in line_item.custom_forms %}
        {% for answer in custom_form.answers %}
          <p>
          {{ answer.question.question_content }}
          {% if answer.question.data_type == 'Picklist' %}
            {% assign picklist_option = answer.question.picklist_options | where: 'value', answer.answer | first %}
            {{ picklist_option.label }}
          {% else %}
            {{ answer.answer }}
          {% endif %}
          </p>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{%- endunless %}
