{%- default pricing: blank -%}
{%- default compact: false -%}
{%- default large: false -%}

{%- capture font_class %}
  {% if large %}sc-font-base{% else %}sc-font-tiny{%- endif %}
{%- endcapture %}

{%- if pricing.hide_price? %}
  <div class="sc-mb-tiny sc-font-{% if large %}large{% else %}small{%- endif -%}" data-line-item-amount>
    {{ pricing.hide_price_text }}
  </div>
{%- else %}
  {%- if pricing != blank %}
    {%- if current_store.display_currency? and pricing.can_purchase_with_currency? %}
      {%- assign use_currency = true %}
      {%- if pricing.on_sale? %}
        {%- assign on_sale = true %}
      {%- else %}
        {% assign on_sale = false %}
      {%- endif %}
    {%- else %}
      {%- assign use_currency = false %}
      {%- assign on_sale = false %}
    {%- endif %}

    {%- if current_store.display_points? and pricing.can_purchase_with_points? %}
      {%- assign use_points = true %}
      {%- if pricing.points_sale? %}
        {%- assign points_sale = true %}
      {%- else %}
        {%- assign points_sale = false %}
      {%- endif %}
    {%- else %}
      {%- assign use_points = false %}
      {%- assign points_sale = false %}
    {%- endif -%}

    {%- comment %} Deposit {% endcomment %}
    {%- if pricing.deposit_required? %}
      <div class="sc-mb-tiny sc-font-{% if large %}large{% else %}small{%- endif -%}" data-line-item-deposit-amount>
        {{ "pricing.deposit" | t }}

        {%- comment %} Currency Price {% endcomment %}
        {%- if pricing.use_currency? and pricing.checkout_price > 0 %}
          <span data-currency>{{ pricing.checkout_price | money }}</span>
        {%- endif %}

        {%- comment %} Points Price {% endcomment %}
        {%- if pricing.use_points? and pricing.checkout_points > 0 %}
          <span data-points>{{ pricing.checkout_points | points }}</span>
        {%- endif %}
      </div>
    {%- else %}
      {%- comment %} Checkout Price {% endcomment %}
      <div class="sc-mb-tiny sc-font-{% if large %}large{% else %}small{%- endif -%}" data-line-item-amount>
        {%- comment %} Currency Price {% endcomment %}
        {%- if pricing.use_currency? %}
          <span data-currency>{{ pricing.checkout_price | money }}</span>
        {%- endif %}

        {%- comment %} Points Price {% endcomment %}
        {%- if pricing.use_points? %}
          <span data-points>{{ pricing.checkout_points | points }}</span>
        {%- endif %}
      </div>
    {%- endif %}

    {%- comment %} Full Price {% endcomment %}
    {%- if pricing.deposit_required? %}
      <div class="sc-shade-neutral {{ font_class }}" data-line-item-full-amount>
        {{ "pricing.total_due" | t }}

        {%- comment %} Currency Price {% endcomment %}
        {%- if pricing.use_currency? %}
          <span data-currency>{{ pricing.price | money }}</span>
        {%- endif %}

        {%- comment %} Points Price {% endcomment %}
        {%- if pricing.use_points? %}
          <span data-points>{{ pricing.points | points }}</span>
        {%- endif %}
      </div>
    {%- endif %}

    {%- comment %} On Sale {% endcomment %}
    {%- unless compact == true %}
      {%- if on_sale or points_sale %}
        <div class="sc-color-sale {{ font_class }}" data-line-item-original-amount="{{ pricing.product.id }}">
          {{ "pricing.original_price" | t }}
          {%- comment %} Currency Price {% endcomment %}
          {%- if pricing.use_currency? and pricing.on_sale? %}
            <span data-currency>{{ pricing.original_price | money }}</span>
          {%- endif %}

          {%- comment %} Points Price {% endcomment %}
          {%- if pricing.use_points? and pricing.points_sale? %}
            <span data-points>{{ pricing.original_points | points }}</span>
          {%- endif %}
        </div>
      {%- endif %}
    {%- endunless %}

    {%- comment %} Subscriptions {% endcomment %}
    {%- if pricing.subscription? %}
      {%- capture timespan %}
        {%- liquid
          assign term = pricing.subscription_term | number, compact: true
          assign unit = pricing.subscription_term_unit

          if term != blank and unit != blank
            render "shared/subscriptions/term_unit", unit: unit, number: term
          endif
        %}
      {%- endcapture %}
      <div class="sc-shade-neutral {{ font_class }}" data-line-item-subscription-timespan>
        {{ "pricing.subscription_timespan" | t: timespan: timespan }}
      </div>
    {%- endif %}

    {%- comment %} Fixed-term Subscriptions {% endcomment %}
    {%- if pricing.fixed_term_subscription? %}
      {%- capture full_timespan %}
        {%- liquid
          assign term = pricing.subscription_term | number, compact: true
          assign unit = pricing.subscription_term_unit
          assign term_count = pricing.subscription_term_count | number, compact: true

          if term != blank and unit != blank and term_count != blank
            assign term_total = term | times: pricing.subscription_term_count
            render "shared/subscriptions/term_unit", unit: unit, number: term_total
          endif
        %}
      {%- endcapture %}
      {%- liquid
        if pricing.use_currency?
          assign full_price = pricing.subscription_total_price | money
        elsif pricing.use_points?
          assign full_price = pricing.subscription_total_points | points
        endif
      %}
      <div class="sc-shade-neutral sc-mt-tiny {{ font_class }}" data-line-item-subscription-amount>
        {{ "pricing.subscription_total" | t: total_amount: full_price, full_timespan: full_timespan }}
      </div>
    {%- endif %}

    {%- comment %} Alternative Currency Price {% endcomment %}
    {%- if compact == false and pricing.use_points? and pricing.can_purchase_with_currency? and pricing.checkout_price > 0 %}
      <div class="sc-shade-neutral sc-mt-tiny sc-font-{% if large %}large{% else %}small{% endif %}">
        {% assign checkout_price = pricing.checkout_price | money %}
        {{ "pricing.alternative_currency_pricing" | t: price: checkout_price }}
      </div>
    {%- endif %}

    {%- comment %} Alternative Points Price {% endcomment %}
    {%- if compact == false and pricing.use_currency? and pricing.can_purchase_with_points? and pricing.checkout_points > 0 %}
      <div class="sc-shade-neutral sc-mt-tiny sc-font-{% if large %}large{% else %}small{%- endif -%}">
        {% assign checkout_points = pricing.checkout_points | points %}
        {{ "pricing.alternative_points_pricing" | t: points: checkout_points }}
      </div>
    {%- endif %}

    {%- if pricing.checkout_earn_points > 0 %}
      {%- comment %} Earn Points {% endcomment %}
      <div class="sc-shade-neutral sc-mt-tiny {{ font_class }}" data-line-item-earn-points>
        {% assign earn_points = pricing.checkout_earn_points | points %}
        {{ "pricing.earn_points" | t: points: earn_points }}
      </div>
    {%- endif %}
  {%- endif %}
{%- endif %}
