{%- default order: blank %}

{%- form "checkout-set-password", order: order %}
  {% render "account/shared/forms/campaign", form: form, context: "new" %}
  {% render "form_errors", errors: form.errors %}

  {%- if current_store.local_login? %}
    {%- assign field = form.fields["password"] %}
    <div class="SC-Field{% if field.errors != blank %} has-error{% endif %}{% if field.required? %} required{% endif %}">
      <label for="{{ field.id }}" class="SC-Field_label">{{ "accounts.orders.show.guests.register.password" | t }}</label>
      <input type="password" name="{{ field.name }}" id="{{ field.id }}" placeholder="{{ "accounts.orders.show.guests.register.password" | t }}" autocomplete="password" class="SC-Field_input">
      <span class="SC-Field_error">{{ field.errors | try: "messages" }}</span>
    </div>

    <div class="sc-mb-base">
      <input type="submit" name="commit" value="{{ "accounts.orders.show.guests.register.submit" | t }}" class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small" data-disable-with="{{ "accounts.orders.show.guests.register.submit" | t }}">
    </div>
  {%- endif %}

  {%- if current_store.sso_login? %}
    {%- if current_store.local_login? %}
      <div class="sc-mb-base">
        <h3>{{ "accounts.orders.show.guests.register.via" | t }}</h3>
      </div>
    {%- endif %}

    {%- for provider in current_store.authentication_providers %}
      {%- unless provider.supports_registration? %}
        {%- continue %}
      {%- endunless %}
      <div class="sc-mb-base">
        {%- assign label = "auth.login.sso.sign_in_or_register" | t %}
        {%- assign provider_name = "auth.login.sso.enum." | append: provider.provider | t %}
        {%- assign button_text = label | append: " " | append: provider_name %}
          <button type="submit" name="auth_provider" value="{{provider.identifier}}" formaction="{{provider.sign_in_path}}" class="SC-Button SC-Button-secondary SC-Button-expanded-up-to-small" data-disable-with="{{ button_text }}">
          {{ button_text }} 
          </button>

      </div>
    {%- endfor %}
  {%- endif %}
{%- endform %}
