{%- if current_cart.schedulable_items.size > 0 %}
  {%- assign use_days = theme_variables["checkout.delivery_windows.use_days"] == true %}

  <section class="sc-mb-large">
    <div class="sc-mb-large" style="max-width: 600px">
      <h4>{{ "checkout.delivery_options.header" | t }}</h4>
      {%- for line_item in current_cart.schedulable_items %}
        <div data-delivery-options="{{ line_item.id }}">
          <strong>{{ line_item.product.name }}</strong>
          {%- if use_days %}
            <div class="sc-mt-medium sc-mb-medium">
              <strong>{{ "checkout.delivery_options.day_prompt" | t }}</strong>
            </div>
            {%- if line_item.available_delivery_days.size > 0 %}
              <div class="SC-OptionCard" data-delivery-days>
                {%- for day in line_item.available_delivery_days %}
                  <label class="SC-OptionCard_label">
                    <div class="SC-OptionCard_radio">
                      <div class="SC-RadioInput">
                        <input type="radio" name="delivery_options[{{ line_item.id }}][delivery_day]" value="{{ day }}" class="SC-Radio_input" required>
                        <svg viewBox="0 0 100 100">
                          <ellipse cx="50" cy="50" rx="45" ry="45"></ellipse>
                          <ellipse cx="50"  cy="50" rx="28" ry="28"></ellipse>
                        </svg>
                      </div>
                    </div>
                    <div class="SC-OptionCard_detail">
                      <div class="SC-OptionCard_detail_primary">
                        <div>
                          {% assign day_of_week = day | downcase %}
                          <strong>{{ "deliveries.days.enum." | append: day_of_week | t }}</strong>
                        </div>
                      </div>
                    </div>
                  </label>
                {%- endfor %}
              </div>
            {%- else %}
              <input type="hidden" name="delivery_options[{{ line_item.id }}][delivery_window_debug]" />
              <div class="SC-Notice SC-Notice-alert sc-mb-small">
                <h4>{{ "checkout.delivery_options.no_available_delivery_days" | t }}</h4>
              </div>
            {%- endif %}
          {%- else %}
            <div class="sc-mt-medium sc-mb-medium">
              <strong>{{ "checkout.delivery_options.date_prompt" | t }}</strong>
            </div>
            {%- if line_item.available_delivery_dates.size > 0 %}
              {%- capture field_key %}delivery_options[line_item][{{ line_item.id }}][delivery_window_timeslot]{% endcapture %}
              {%- assign field = form.fields[field_key] %}
              {%- assign error = form.errors | where: 'field', field_key | first %}
              {%- if error %}
                <div class="SC-Notice SC-Notice-alert sc-mb-small">
                  {{ form.errors }}
                </div>
              {%- endif %}

              <menu class="sc-shadow sc-border-light sc-mb-small">
                <div class="SC-DropdownPicker">
                  <input type="text" name="delivery_options[{{ line_item.id }}][delivery_start_date]" data-delivery-date-input="{{ line_item.id }}" required class="sc-hide">
                  <button type="button" data-available-delivery-dates="{{ line_item.available_delivery_dates | join: ',' }}" data-delivery-date-button="{{ line_item.id }}">
                    <label>{{ "checkout.delivery_options.delivery_date" | t }}</label>
                    <span class="u-pointer-events-inherit">
                      {% render "icons/chevron", width: 11 %}
                    </span>
                  </button>
                </div>
              </menu>

            {%- else %}
              <input type="hidden" name="delivery_options[{{ line_item.id }}][delivery_window_debug]" />
              <div class="SC-Notice SC-Notice-alert sc-mb-small">
                <h4>{{ "checkout.delivery_options.no_available_delivery_dates" | t }}</h4>
              </div>
            {%- endif %}
          {%- endif %}
          <div class="SC-DeliverySchedule_timeslots" data-delivery-time-slots></div>
        </div>
      {%- endfor %}
    </div>
  </section>
{%- endif %}
