<div class="sc-flex-row sc-align-items-center">
  <span class="sc-grow">
    <h3>{{ "accounts.profile.sections.credentials.heading" | t }}</h3>
  </span>
  <span>
    <a href="{{ current_store.account_path }}/{{ "accounts.credentials.path" | t }}" class="SC-Button">{{ "accounts.profile.sections.credentials.edit" | t }}</a>
  </span>
</div>
<table>
  <tr>
    <th>{{ "accounts.profile.sections.credentials.username" | t }}</th>
  </tr>
  <tr>
    <td data-th="{{ "accounts.profile.sections.credentials.username" | t }}">{{ current_customer.username }}</td>
  </tr>
</table>
