{%- assign provider_id = payment_provider.id %}
{%- assign provider = payment_provider.code %}
{%- assign form_id = provider | append: "PaymentForm" | append: provider_id %}
{%- assign button_id = provider | append: "PaymentButton" | append: provider_id %}

{%- form "payment", provider: payment_provider,
            id: form_id,
            class: "SC-Panel",
            data-provider: provider,
            data-provider-id: provider_id %}
  <div id="{{ provider }}ScriptBlock{{ provider_id }}"></div>

  {{ payment_provider.description_content }}

  <fieldset id="{{ provider }}Fieldset{{ provider_id }}" class="SC-Fieldset sc-mb">
  </fieldset>

  <div id="{{ provider }}PaymentError{{ provider_id }}"
    class="SC-Field SC-Alert sc-hide"
    data-placeholder="{{ "checkout.gateways.form.errors.invalid" | t }}"></div>

  <input type="submit"
    value="{{ 'checkout.gateways.form.pay_now' | t }}"
    id="{{ button_id }}"
    class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small"
    data-payment-info-submit />

 {% render "checkout/customer_notes", form: form %}

 {% if current_store.staff.size > 0 %}
   {% render "checkout/assisted_by_user", form: form %}
 {% endif %}

  {%# Questions %}
  {%- if current_cart != blank and current_cart.custom_forms.size > 0 %}
    {% render "custom_forms/forms", custom_forms: current_cart.custom_forms, form: form %}
  {%- endif %}
{%- endform %}

<script type="text/javascript">
  StoreConnect.Gateways.AdyenAch({ providerId: '{{ provider_id }}' });
</script>
