{%- assign provider_id = payment_provider.id %}
{%- assign provider = payment_provider.code %}
{%- assign button_id = provider | append: "PaymentButton" %}

{%- form "payment", provider: payment_provider, class: "SC-Panel" %}

  <div id="PaypalScriptBlock{{ provider_id }}"></div>
  <div id="PaypalPaymentBlock{{ provider_id }}"></div>

  {{ payment_provider.description_content }}

  <div id="PaypalPaymentError{{ provider_id }}" class="SC-Field SC-Alert sc-hide"></div>

  <div id="PaypalButton{{ provider_id }}">
    <div id="paypal-button-container{{ provider_id }}"></div>
  </div>

  <input type="submit"
    value="{{ 'checkout.gateways.form.notices.processing' | t }}"
    id="{{ button_id }}"
    class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small sc-hide"
    data-disable-with="{{ 'checkout.payment.processing' | t }}"
    data-payment-info-submit />

  {% render "checkout/payment_information/additional_info", form: form %}
{%- endform %}

{%- require 'scripts/gateways/paypal.js' %}
