{%- assign provider_id = payment_provider.id %}
{%- assign provider = payment_provider.code %}
{%- assign button_id = provider | append: "PaymentButton" | append: provider_id %}
{%- assign payment_error_id = provider | append: "PaymentError" | append: provider_id %}

<style>
   .square-apple-pay-button {
      height: 48px;
      width: 300px;
      display: inline-block;
      -webkit-appearance: -apple-pay-button;
      -apple-pay-button-type: plain;
      -apple-pay-button-style: black;
    }

    .gpay-card-info-container {
      height: 48px;
      width: 300px;
    }
</style>

<div id="{{ provider }}WalletsContainer{{ provider_id }}" class="sc-mb">
  <!-- Square Apple Pay form -->
  <div id="payment-form">
    <div id="payment-status-container"></div>
    <button id="SquareApplePaymentButton{{ provider_id }}" class="square-apple-pay-button"></button>
  </div>

  <!-- Square Google Pay form -->
  {%- form "payment", provider: payment_provider,
              id: "SquareGooglePaymentForm{{ provider_id }}",
              class: "SC-Panel SC-GooglePay" %}
    <button type="submit" id="SquareGooglePaymentButton{{ provider_id }}"></button>
  {%- endform %}
</div>

<!-- Square Credit Card form -->
{%- form "payment", provider: payment_provider, class: "SC-Panel sq-payment-form" %}

  {{ payment_provider.description_content }}

  {% render "checkout/payment_information/payment_providers/square/form",
          form: form, payment_provider: payment_provider  %}

  <input type="submit"
    id="{{ button_id }}"
    value="{{ 'checkout.gateways.form.pay_now' | t }}"
    class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small"
    data-disable-with="{{ 'checkout.payment.processing' | t }}"
    data-payment-info-submit />

  {% render "checkout/payment_information/additional_info", form: form %}

  <div id="{{ payment_error_id }}" class="SC-Field SC-Alert sc-mt-small sc-hide"></div>
{%- endform %}


{%- require 'scripts/gateways/square.js' %}
