{%- assign provider_id = payment_provider.id %}
{%- assign provider = payment_provider.code %}
{%- assign form_id = provider | append: "PaymentForm" | append: provider_id %}
{%- assign button_id = provider | append: "PaymentButton" | append: provider_id %}
{%- assign wallets_checkout_id = "StripeWalletsCheckout" | append: provider_id %}
{%- assign wallets_error_id = "StripeWalletsError" | append: provider_id %}
{%- assign script_block_id = "StripeScriptBlock" | append: provider_id %}
{%- assign payment_error_id = "StripePaymentError" | append: provider_id %}

{%- default only_express_checkout: false %}
{%- default dedicated_cart_product_id: blank %}
{%# Need unique IDs for per-product Wallets; since Cart dropdown is on same page %}
{%- if dedicated_cart_product_id != blank %}
  {%- assign form_id = form_id | append: "Product" | append: dedicated_cart_product_id %}
  {%- assign button_id = button_id | append: "Product" | append: dedicated_cart_product_id %}
  {%- assign wallets_checkout_id = wallets_checkout_id | append: "Product" | append: dedicated_cart_product_id %}
  {%- assign wallets_error_id = wallets_error_id | append: "Product" | append: dedicated_cart_product_id %}
  {%- assign script_block_id = script_block_id | append: "Product" | append: dedicated_cart_product_id %}
  {%- assign payment_error_id = payment_error_id | append: "Product" | append: dedicated_cart_product_id %}
{% endif %}

{%- assign total_subscriptions = current_cart.total_subscriptions %}
{%- if current_order %}
  {%- assign total_subscriptions = current_order.total_subscriptions %}
{%- endif %}

{%- if total_subscriptions == 0 %}
  <div class="StripeWalletsContainer" style="margin-bottom: 20px">
    <div id="{{ wallets_checkout_id }}">
    </div>

    <div id="{{ wallets_error_id }}" class="sc-mt">
    </div>
  </div>
{%- endif %}

{%- form "payment", provider: payment_provider,
            id: form_id,
            class: "SC-Panel",
            only-express-checkout: only_express_checkout,
            dedicated-cart-product-id: dedicated_cart_product_id,
            data-provider: provider,
            data-provider-id: provider_id,
            data-use-intents: true %}

  <div id="{{ script_block_id }}"></div>

  {% unless only_express_checkout %}
    {{ payment_provider.description_content }}

    {% render "checkout/payment_information/payment_providers/stripe/form",
            form: form, provider_id: provider_id  %}

    <input type="submit"
      value="{{ 'checkout.gateways.form.pay_now' | t }}"
      id="{{ button_id }}"
      class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small"
      data-disable-with="{{ 'checkout.gateways.form.pay_now' | t }}"
      data-payment-info-submit />

    {% render "checkout/customer_notes", form: form %}

    {% if current_store.staff.size > 0 %}
      {% render "checkout/assisted_by_user", form: form %}
    {% endif %}

    {%# Questions %}
    {%- if current_cart != blank and current_cart.custom_forms.size > 0 %}
      {% render "custom_forms/forms", custom_forms: current_cart.custom_forms, form: form, display_mode: "in_checkout" %}
    {%- endif %}
  {% endunless %}

  <div id="{{ payment_error_id }}" class="SC-Field SC-Alert sc-hide"></div>
{%- endform %}

{%- require 'scripts/gateways/stripe.js' %}
<script>
  StoreConnect.Gateways.Stripe({
    providerId: "{{ payment_provider.id }}",
    dedicatedCartProductId: "{{ dedicated_cart_product_id }}"
  });
</script>
