{%- assign provider_id = payment_provider.id %}
{%- assign provider = payment_provider.code %}
{%- assign form_id = provider | append: "PaymentForm" | append: provider_id %}
{%- assign button_id = provider | append: "PaymentButton" | append: provider_id %}

{%- form "payment", provider: payment_provider,
            id: form_id,
            class: "SC-Panel",
            data-provider: provider,
            data-provider-id: provider_id %}

  <div id="{{ provider }}ScriptBlock{{ provider_id }}"></div>
  <div id="{{ provider }}PaymentBlock{{ provider_id }}"></div>

  {{ payment_provider.description_content }}

  <div id="{{ provider }}PaymentError{{ provider_id }}" class="SC-Field SC-Alert sc-hide"></div>

  <input type="submit"
    value="{{ 'checkout.gateways.form.pay_now' | t }}"
    id="{{ button_id }}"
    class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small" />

  {%# Questions %}
  {%- if current_cart != blank and current_cart.custom_forms.size > 0 %}
    {% render "custom_forms/forms", custom_forms: current_cart.custom_forms, form: form %}
  {%- endif %}
{%- endform %}

{%# This should be placed at the bottom so that it executes at the end of html load %}
<script>
  StoreConnect.Gateways.Windcave({
    providerId: "{{ provider_id }}"
  });
</script>
