{% assign autocomplete = store_variables["addressify_api_key"] %}
{% if autocomplete && address_type == "shipping" %}
  <div class="SC-Field" data-address-autocomplete-container>
    <select class="SC-Field_select" style="width: 500px;"
            data-address-autocomplete
            data-address-autocomplete-placeholder="{{ "accounts.shared.address_form.autocomplete_placeholder" | t }}"></select>
  </div>
{% endif %}

{% liquid
assign address_lines = form.fields["shipping_address_lines"]
assign postal_code = form.fields["shipping_postal_code"]
assign city = form.fields["shipping_city"]
assign state = form.fields["shipping_state"]
assign country = form.fields["shipping_country"]
assign allowed_countries = form.fields["allowed_shipping_countries"]
if address_type == "billing"
  assign address_lines = form.fields["billing_address_lines"]
  assign postal_code = form.fields["billing_postal_code"]
  assign city = form.fields["billing_city"]
  assign state = form.fields["billing_state"]
  assign country = form.fields["billing_country"]
  assign allowed_countries = form.fields["allowed_billing_countries"]
elsif address_type == "recipient"
  assign address_lines = form.fields["recipient_address_lines"]
  assign postal_code = form.fields["recipient_postal_code"]
  assign city = form.fields["recipient_city"]
  assign state = form.fields["recipient_state"]
  assign country = form.fields["recipient_country"]
  assign allowed_countries = form.fields["allowed_shipping_countries"]
endif

assign billing_same_as_shipping = form.fields["billing_same_as_shipping"].value
assign address_required = false
if address_type == "shipping" or (address_type == "billing" and !billing_same_as_shipping)
  assign address_required = true
endif
%}

{% assign field_name = address_type | append: '_address_lines[]' %}
{% for line in address_lines.value %}
  <div class="SC-Field sc-one-whole">
    {% assign field_id = address_type | append: '_address_line_' | append: forloop.index %}
    <label for="{{ field_id }}" class="SC-Field_label">{{ "accounts.shared.address_form.address_lines.count" | t, count: forloop.index }}</label>
    <input type="text" id="{{ field_id }}" name="{{ field_name }}"
            value="{{ line }}"
            class="SC-Field_input sc-one-whole"
            autocomplete="{{ address_type }} address-line{{ forloop.index }}">
  </div>
{% endfor %}
<div class="SC-Fieldset_row">
  <div class="SC-Field SC-Field-small{% if postal_code.errors != blank %} has-error{% endif %}">
    <label for="{{ postal_code.id }}" class="SC-Field_label">{{ "accounts.shared.address_form.zip_code" | t }}</label>
    <input type="text" id="{{ postal_code.id }}" name="{{ postal_code.name }}" value="{{ postal_code.value }}" class="Field_input sc-one-whole" autocomplete="{{ address_type }} postal-code">
    <span class="SC-Field_error">{{ postal_code.errors | try: "messages" }}</span>
  </div>
  <div class="SC-Field{% if city.errors != blank %} has-error{% endif %}">
    <label for="{{ city.id }}" class="SC-Field_label">{{ "accounts.shared.address_form.city" | t }}</label>
    <input type="text" id="{{ city.id }}" name="{{ city.name }}" value="{{ city.value }}" class="Field_input"
          autocomplete="{{ address_type }} address-level2">
    <span class="SC-Field_error">{{ city.errors | try: "messages" }}</span>
  </div>
</div>
<div class="SC-Fieldset_row">
  <div class="SC-Field{% if country.errors != blank %} has-error{% endif %}">
    <label for="{{ country.id }}" class="SC-Field_label">{{ "accounts.shared.address_form.country" | t }}</label>
    <select id="{{ country.id }}" name="{{ country.name }}" class="SC-Field_select"
          autocomplete="{{ address_type }} country"
          data-selected="{{ country.value }}"
          placeholder="{{ "accounts.shared.address_form.country" | t }}">
      <option disabled{% if country.value == blank %} selected{% endif %}></option>
      {% for allowed_country in allowed_countries.value %}
        {% assign label = allowed_country[0] %}
        {% assign code = allowed_country[1] %}
        <option value="{{ code }}" {% if country.value == code %}selected{% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="SC-Field{% if country.errors != blank %} has-error{% endif %}">
    <label for="{{ state.id }}" class="SC-Field_label">{{ "accounts.shared.address_form.state" | t }}</label>
    <select id="{{ state.id }}" name="{{ state.name }}" class="SC-Field_select" autocomplete="{{ address_type }} address-level1" data-selected="{{ state.value }}" placeholder="{{ "accounts.shared.address_form.state" | t }}">
    </select>
  </div>
</div>

{%# script needs to be added before using javascript_include_tag %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    StoreConnect.address({
      country_id: "{{ country.id }}",
      state_id: "{{ state.id }}",
      address_type: "{{ address_type }}",
      billing_same_id: "billing_same_as_shipping__customer_information"
    });

    {% if autocomplete %}
      {% if address_type == "shipping" %}
        StoreConnect.address_autocomplete({
          supported_countries: ["AU"] // Currently Addressify only supports AU
        });
      {% endif %}
    {% endif %}
  });
</script>
