<fieldset class="SC-Fieldset">
  <div class="SC-Field">
    {% assign field = form.fields["card_number"] %}
    <label for="{{ field.id }}" class="SC-Field_label">
      {{ "checkout.gateways.form.card_number" | t }}
    </label>
    <input type="text" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}"
      autocomplete="cc-name"
      class="SC-Field_input sc-expand"
      maxlength="16"
      placeholder="{{ "checkout.gateways.form.card_number_placeholder" | t }}"
      required>
  </div>

  <div class="SC-Field">
    {% assign field = form.fields["card_name"] %}
    <label for="{{ field.id }}" class="SC-Field_label">
      {{ "checkout.gateways.form.card_name" | t }}
    </label>
    <input type="text" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}" class="SC-Field_input sc-expand" required>
  </div>

  <div class="SC-Fieldset_row">
    <div class="SC-Field SC-Field-small">
      {% assign field = form.fields["card_month"] %}
      <label for="{{ field.id }}" class="SC-Field_label">
        {{ "checkout.gateways.form.expiry_month" | t }}
      </label>
      <input type="text" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}"
        autocomplete="cc-exp-month"
        class="SC-Field_input"
        maxlength="2"
        size="8"
        placeholder="{{ "checkout.gateways.form.expiry_month_placeholder" | t }}"
        required>
    </div>

    <div class="SC-Field SC-Field-small">
      {% assign field = form.fields["card_year"] %}
      <label for="{{ field.id }}" class="SC-Field_label">
        {{ "checkout.gateways.form.expiry_year" | t }}
      </label>
      <input type="text" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}"
        autocomplete="cc-exp-year"
        class="SC-Field_input"
        maxlength="4"
        size="8"
        placeholder="{{ "checkout.gateways.form.expiry_year_placeholder" | t }}"
        required>
    </div>

    <div class="SC-Field SC-Field-small">
      {% assign field = form.fields["card_verification"] %}
      <label for="{{ field.id }}" class="SC-Field_label">
        {{ "checkout.gateways.form.verification" | t }}
      </label>
      <input type="text" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}"
        autocomplete="cc-csc"
        class="SC-Field_input"
        maxlength="4"
        size="8"
        placeholder="{{ "checkout.gateways.form.verification_placeholder" | t }}"
        required>
    </div>
  </div>
</fieldset>

<div id="{{ payment_provider.code }}PaymentError{{ payment_provider.id }}" class="SC-Field SC-Alert sc-hide"></div>
