<div class="sc-container sc-container-capsule sc-container-spacious">
  <h1>{{ "auth.passwords.forgot.heading" | t }}</h1>

  {% assign block = current_store.id | append: "-new-password-introduction" %}
  {{ all_content_blocks[block] | try: "render" }}

  {%- form "forgot-password" %}
    {% render "form_errors", errors: form.errors %}

    {%- assign field = form.fields["email"] %}
    <div class="SC-Field SC-Field-expand sc-mb-base{% if field.errors != blank %} has-error{% endif %}{% if field.required? %} required{% endif %}">
      <label for="{{ field.id }}" class="SC-Field_label">{{ "auth.passwords.forgot.form.email" | t }}</label>
      <input type="email" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}" placeholder="{{ "auth.passwords.forgot.form.email" | t }}" class="SC-Field_input" autofocus autocomplete="email" class="SC-Field_input">
      <span class="SC-Field_error">{{ field.errors | try: "messages" }}</span>
    </div>

    <div class="sc-mb-base">
      <input type="submit" name="commit" value="{{ "auth.passwords.forgot.form.submit" | t }}" class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small" data-disable-with="{{ "auth.passwords.forgot.form.submit" | t }}">
    </div>
  {%- endform %}

  {%- render "account/login/links", context: "password" %}
</div>