
{%- assign provider_id = payment_provider.id %}
{%- assign provider = payment_provider.code %}
{%- assign button_id = provider | append: "PaymentButton" | append: provider_id %}

{%- comment %}
This form uses Adyen's client-side encryption to ensure PCI compliance.
{%- endcomment %}

<fieldset id="{{ provider }}Fieldset{{ provider_id }}" class="SC-Fieldset sc-mb">
</fieldset>

<input id="{{ button_id }}" type="submit" class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small" data-payment-info-submit
  value="{{ "accounts.subscriptions.show.submit_update_button_label" | t }}" />

<div id="{{ provider }}PaymentError{{ provider_id }}"
    class="SC-Field SC-Alert sc-hide"
    data-placeholder="{{ "checkout.gateways.form.errors.invalid" | t }}"></div>

<script>
  StoreConnect.Gateways.Adyen({
    providerId: "{{ provider_id }}"
  });
</script>
