{%- default focus: false %}
{%- default only_sso_provider: null %}

{%- if current_store.local_login? %}
  {%- form "login", id: "login-form" %}
    {% render "form_errors", errors: form.errors %}

    {%- assign field = form.fields["username"] %}
    <div class="SC-Field SC-Field-expand sc-mb-small{% if field.errors != blank %} has-error{% endif %}{% if field.required? %} required{% endif %}">
      <label for="{{ field.id }}" class="SC-Field_label">{{ "auth.login.form.username" | t }}</label>
      <input type="text" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}"{% if focus %} autofocus{% endif %} autocomplete="username" class="SC-Field_input">
      <span class="SC-Field_error">{{ field.errors | try: "messages" }}</span>
    </div>

    {%- assign field = form.fields["password"] %}
    <div class="SC-Field SC-Field-expand sc-mb-base{% if field.errors != blank %} has-error{% endif %}{% if field.required? %} required{% endif %}">
      <label for="{{ field.id }}" class="SC-Field_label">{{ "auth.login.form.password" | t }}</label>
      <input type="password" name="{{ field.name }}" id="{{ field.id }}" autocomplete="current-password" class="SC-Field_input">
      <span class="SC-Field_error">{{ field.errors | try: "messages" }}</span>
    </div>

    <div class="sc-mb-base">
      <input type="submit" name="commit" value="{{ "auth.login.form.submit" | t }}" class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small" data-disable-with="{{ "auth.login.form.submit" | t }}">
    </div>
  {%- endform %}
{%- endif %}

{%- if current_store.sso_login? %}
  {%- if current_store.local_login? %}
    <div class="sc-mb-base">
      <h2>{{ "auth.login.form.via" | t }}</h2>
    </div>
  {%- endif %}
  <br />
  {% render "account/login/sso_form", only_sso_provider: only_sso_provider %}
{%- endif %}

{%- render "account/login/links" %}