{%- render "shared/page_header", heading: "t.accounts.credentials.heading" %}

<div class="SC-Grid">
  <div class="SC-Grid_main">
    {% form "account" %}
      {% render "form_errors", errors: form.errors %}

      <section class="sc-mb-spacious">
        {%- assign field = form.fields["username"] %}
        <div class="SC-Field SC-Field-expand{% if field.errors != blank %} has-error{% endif %}{% if field.required? %} required{% endif %}">
          <label for="{{ field.id }}" class="SC-Field_label">{{ "accounts.credentials.username" | t }}</label>
          <input type="text" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.value }}" autocomplete="username" class="SC-Field_input"{% if current_store.sso_login? %} disabled{% endif %}>
          <span class="SC-Field_error">{{ field.errors | try: "messages" }}</span>
        </div>
        {% unless current_store.sso_login? %}
          {%- assign field = form.fields["password"] %}
          <div class="SC-Field SC-Field-expand{% if field.errors != blank %} has-error{% endif %}{% if field.required? %} required{% endif %}">
            <label for="{{ field.id }}" class="SC-Field_label">{{ "accounts.credentials.new_password" | t }}</label>
            <input type="password" name="{{ field.name }}" id="{{ field.id }}" autocomplete="new-password" class="SC-Field_input">
            <span class="SC-Field_error">{{ field.errors | try: "messages" }}</span>
          </div>

          {%- assign field = form.fields["password_confirmation"] %}
          <div class="SC-Field SC-Field-expand{% if field.errors != blank %} has-error{% endif %}{% if field.required? %} required{% endif %}">
            <label for="{{ field.id }}" class="SC-Field_label">{{ "accounts.credentials.confirm_new_password" | t }}</label>
            <input type="password" name="{{ field.name }}" id="{{ field.id }}" autocomplete="new-password" class="SC-Field_input">
            <span class="SC-Field_error">{{ field.errors | try: "messages" }}</span>
          </div>
        {% endunless %}
      </section>

      <input type="submit" name="commit" value="{{ "accounts.credentials.update" | t }}" class="SC-Button SC-Button-primary SC-Button-expanded-up-to-small" data-disable-with="{{ "accounts.credentials.update" | t }}">
    {% endform %}
  </div>
</div>
